@media screen and (max-width: 450px) {


    .caption {
        left: 5vmin;
        bottom: 22vmin;
    }
    .caption h3 {
        font-size: 7vmin;
    }

    #contactPage {
        padding: 40px 20px 20px 20px;
    }

    #aboutFirstSection .fa-globe {
        font-size: 30vmin!important;
    }

    .aboutOrangeDiv {
        height: 300px;
    }

    .aboutOrangeDiv .fa-globe {
        position: relative;
        bottom: -25px;
    }

    #aboutTextContainer h3, #aboutTextContainer h4 {
        font-size: 8vmin;
    }

    /**
    *   Article Page Styling
    **/
    .breadText {
      font-size: 3.8vmin;
    }
    .articleTitles h5 { font-size: 4.5vmin; }
}

@media screen and (max-width: 600px) {
    #aboutTextContainer {
        padding: 30px 20px 20px 45px;
    }

    #aboutTextContainer h3, #aboutTextContainer h4 {
        width: 180%;
    }

    #aboutTextContainer div {
        width: 135%;
    }
}
