@media screen and (max-width: 992px) {
    .laptop {
        width: 200px;
    }

    .caption {
      bottom: 18vmin;
    }

    #aboutTextContainer h3, #aboutTextContainer h4,  #aboutTextContainer div {
        width: 100%;
    }

    #aboutFirstSection .fa-globe {
        font-size: 28vmin!important;
    }

    .aboutOrangeDiv {
        height: 350px;
    }

    .aboutOrangeDiv .fa-globe {
        position: relative;
        bottom: -30px;
    }

    /**
    *   Article Page Styling
    **/
    .breadText {
      font-size: 2.8vmin;
    }
    .articleTitles h5 { font-size: 3.5vmin; }

}
